/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  text-align: center;
  background: lightgrey;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#gridContainer {
  width: 520px;
  height: 520px;
  margin: 20px auto;
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
}

.grid {
  border: 0.5px solid black;
  background: white;
}

@media (max-width: 480px) {
  #gridContainer {
    width: 320px;
    height: 320px;
  }

  .grid {
    border: 0.25px solid black;
  }
}