/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  text-align: center;
  background: lightgrey;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#gridContainer {
  width: 540px;
  height: 540px;
  margin: 20px;
  border: 4px solid black;
  display: flex;
  flex-wrap: wrap;
}

.grid {
  outline: 1px solid grey;
  background: white;
}

.active {
  background: #3c3c3c;
  color: white;
}

#gridSlider {
  width: 250px;
}


input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 48px;
	height: 48px;
  border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
  border-radius: 50%;
}


@media (max-width: 480px) {
  #gridContainer {
    width: 320px;
    height: 320px;
  }
}